@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html,
body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin: 0;
  display: flex;
  font-size: 16px;
  font-family: "JetBrains Mono", serif;
  font-optical-sizing: auto;
}

#root {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-color: #a0d2eb;
}

h1,  p{
  color: white;
  width: 80%;
}

h1 {
  margin-top: 5%;
  font-size: 2em;
}

p {
  font-size: 1.5em;
}

@media screen and (max-width: 1800px) {
  html, body {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  html, body{
    font-size: 12px;
  }
}


@media screen and (max-width: 520px) { 

}
