.main-layout {
  display: flex;
  height: 95%;
  width: 95%;
  margin: 1.5% auto;
  background-color: #b3daff;
  border-radius: 12px;
}

.sidebar {
  width: 20%;
  height: fit-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1%;
}

.button-div {
  width: 95%;
}

.tab-button {
  all: unset;
  display: flex;
  width: 90%;
  height: 60px;
  font-size: 26px;
  align-items: center;
  margin-top: 30px;
  padding: 20px;
  font-weight: bold;
  color: white;
  overflow: hidden;
  background: linear-gradient(to right, #ff6666, #9999ff);
  background-size: 300% 100%;
  transition: background 0.3s ease;
  z-index: 1;
}

.tab-button:first-child {
  margin: 0;
}

.tab-button:hover {
  color: black;
  background: white;
  cursor: pointer;
}

.tab-button.active {
  animation: moveColor 3s linear infinite alternate;
  scale: 1.05;
}

@keyframes moveColor {
  0% {
    background-position: 0% 50%;
    color: black;
  }
  100% {
    background-position: 100% 50%;
  }
}

.contact-info {
  width: 65%;
  padding: 20% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
  border: 1px solid palevioletred;
  border-radius: 50%;
}

.github-link {
  all: unset;
  color: blue;
}

.github-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content {
  width: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #0f2862;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .sidebar {
    width: 20%;
  }

  .tab-button {
    width: 60%;
    height: 30px;
    font-size: 1em;
  }
}